h1{
    color:rgb(255, 0, 0) ;
    font-size:x-large;
    font-style: italic;
}
.container{
    display:flex ;
}

.card{
    border-radius: 20px;
    margin-left: 10px;
    height: 370px;
    background-color: #364252;
   
flex: 1;
transition: .5s all ease;
}
/*.card:hover{
    flex:1.8;
    background-color: rgb(140, 48, 245);
}*/
/*----------------------------------------------------------------*/
/* Açık tema stilları */
body.light {
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Karanlık tema stilları */
  body.dark {
    background-color: #333;
    color: #f5f5f5;
  }
  
  /* Buton stilları */
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
   
  }
  
  /* Açık tema buton rengi */
  button.light {
    background-color: #000000;
    color: #ffffff;
  }
  
  /* Karanlık tema buton rengi */
  button.dark {
    background-color: #ffffff;
    color: #000000;
  }

  video {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}
#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
